<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DNS Manager</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    <link rel="stylesheet" href="public/assets/css/app.css">
</head>
<body>
<div id="wrapper">